html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

/* ===========
Text Styles
===========*/
h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small, .text_small {
    font-size: 0.8rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 1.5rem;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1.5rem;
}

/* ===========
Main Colors 
===========*/

.teal {
    color: #2E4249;
}

.blue {
    color: #3C5870;
}

.pink {
    color: #DEC9D0;
}

.coral {
    color: #A5565C;
}

.yellow {
    color: #CB874A;
}

/* ===========
Background Colors 
===========*/

.bg-teal {
    background-color: #2E4249;
}

.bg-blue {
    background-color: #3C5870;
}

.bg-pink {
    background-color: #DEC9D0;
}

.bg-coral {
    background-color: #A5565C;
}

.bg-yellow {
    background-color: #CB874A;
}

/* ===========
Nav Styles
===========*/

.nav-links {
    height: 80px;
}

.nav-links a:hover {
    color: #CB874A;
    border-bottom: solid 5px #A5565C;
}

/* ===========
Responsive Styles
===========*/