html {
    background-color: #fafafa;
    font-family: sans-serif;
}

/* ===========
Text Styles
===========*/

h1 {
    font-size: 3.052rem;
    font-family: "Cinzel Decorative", sans-serif;
}

h2 {
    font-size: 2.441rem;
    font-family: "Cinzel", sans-serif;
}

h3 {
    font-size: 1.953rem;
    font-family: "Cinzel", sans-serif;
}

h4 {
    font-size: 1.563rem;
    font-family: "Montserrat", sans-serif;
}

h5 {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

small, .text_small {
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
}

p {
    margin-bottom: 1rem;
    font-family: "Montserrat", sans-serif;
}

a {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 1.5rem;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 1.5rem;
}

#brand-name {
    font-size: 1.953rem;
    font-family: "Cinzel", sans-serif;
}

/* ===========
Main Colors 
===========*/

.maroon {
    color: #7B0207;
}

.red {
    color: #B8301A;
}

.salmon {
    color: #FBA67D;
}

.peach {
    color: #FDBB99;
}

.sage {
    color: #A2A592;
}

.green {
    color: #6D7661;
}

.lt-grey {
    color: #fafafa;
}

/* ===========
Background Colors 
===========*/

.bg-maroon {
    background-color: #7B0207;
}

.bg-red {
    background-color: #B8301A;
}

.bg-salmon {
    background-color: #FBA67D;
}

.bg-peach {
    background-color: #FDBB99;
}

.bg-sage {
    background-color: #A2A592;
}

.bg-green {
    background-color: #6D7661;
}

.bg-lt-grey {
    background-color: #fafafa;
}

/* ===========
Nav Styles
===========*/

.nav-links {
    height: 80px;
}

.nav-links a:hover {
    color: #CB874A;
    border-bottom: solid 5px #A5565C;
}

li {
    list-style: none;
}

/* ===========
Responsive Styles
===========*/