---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import '../styles/global.css';

const pageTitle = 'About';
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="my-20 text-center">{pageTitle}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor morbi non arcu risus. Fringilla ut morbi tincidunt augue. Tellus mauris a diam maecenas sed. Condimentum mattis pellentesque id nibh tortor id aliquet. Placerat in egestas erat imperdiet sed. Viverra vitae congue eu consequat ac felis donec et. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Id ornare arcu odio ut. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Non curabitur gravida arcu ac tortor dignissim convallis aenean et. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Enim lobortis scelerisque fermentum dui. Id nibh tortor id aliquet lectus. Viverra tellus in hac habitasse platea dictumst vestibulum. Vitae purus faucibus ornare suspendisse sed nisi lacus sed.</p>
    <p>Nisl nunc mi ipsum faucibus vitae aliquet nec. Vel fringilla est ullamcorper eget nulla. Lacus viverra vitae congue eu consequat ac felis donec et. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Varius quam quisque id diam. Praesent tristique magna sit amet purus gravida quis blandit. At varius vel pharetra vel turpis nunc eget lorem. Enim eu turpis egestas pretium. Rhoncus aenean vel elit scelerisque mauris pellentesque. At auctor urna nunc id cursus metus aliquam.</p>
    <p>Mattis aliquam faucibus purus in. Gravida neque convallis a cras semper auctor neque. Molestie ac feugiat sed lectus vestibulum mattis. Blandit massa enim nec dui. Vestibulum sed arcu non odio euismod lacinia at quis risus. Urna molestie at elementum eu facilisis. Viverra tellus in hac habitasse. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Vulputate mi sit amet mauris. Volutpat maecenas volutpat blandit aliquam etiam erat velit. Et egestas quis ipsum suspendisse ultrices gravida.</p>
</BaseLayout>