---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import '../styles/global.css';

const pageTitle = 'Heart to Hearth';
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Hello World!</h2>
</BaseLayout>

