---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipesCategory from "../components/RecipesCategory.astro";

var allRecipes = [];
allRecipes = allRecipes
    .concat(await Astro.glob('../pages/recipes/meehleib/*.md'))
    .concat(await Astro.glob('../pages/recipes/ward/*.md'));
const pageTitle = 'Family Recipes';
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="my-20 text-center">{pageTitle}</h1>
    <p>This is where you will see the list of all recipes available.</p>
    <ul>
        {allRecipes.map((post) => <RecipesCategory url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>