---
import BaseLayout from "../layouts/BaseLayout.astro";
import RecipesCategory from "../components/RecipesCategory.astro";

const allRecipes = await Astro.glob('../pages/recipes/meehleib/*.md');
const pageTitle = 'Family Recipes';
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where you will see the list of recipes available.</p>
    <ul>
        {allRecipes.map((post) => <RecipesCategory url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>