---
---
<div class="nav-links flex justify-between items-center bg-teal">
    <div class="flex flex-grow justify-center text-base uppercase pink"><a href="/">Home</a></div>
    <div class="flex flex-grow justify-center text-base uppercase pink"><a href="/about/">About</a></div>
    <div class="flex flex-grow justify-center text-base uppercase pink"><a href="/recipes/">Recipes</a></div>
</div>