---
import logo from '../images/logos/heart-to-hearth-logo-header.png';
---

<nav class="flex py-10">
    <div>
        <a href="/" class="flex flex-wrap items-center"> 
            <img src={logo} alt="Heart to Hearth nav bar logo."/>
            <span id="brand-name" class="pl-3">Heart to Hearth</span>
        </a>
    </div>
    
    <div class="ml-auto self-center">
        <a href="/" class="uppercase pl-16 text-xl">Home</a>
        <a href="/about/" class="uppercase pl-16 text-xl">About</a>
        <a href="/recipes/" class="uppercase pl-16 text-xl">Family Recipes</a>
    </div>
</nav>