---
import navLogo from '../images/logos/heart-to-hearth-logo-header.png';
---

<div class="mb-2 sm:mb-0">
    <a href="/"> 
        <img src="{navLogo}" alt="Heart to Hearth nav bar logo."/>
        <!-- <span id="brand-name">Heart to Hearth</span> -->
    </a>
</div>

<div>
    <a href="/" class="uppercase ml-10">Home</a>
    <a href="/about/" class="uppercase ml-10">About</a>
    <a href="/recipes/" class="uppercase ml-10">Family Recipes</a>
</div>